<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <!-- content -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- information -->
    <title>Destiny Tailor</title>
    <meta name="description" content="Easily discover how to get the most from your armour, and still look dapper.">
    <meta name="author" content="Richard Herman">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <link rel="stylesheet" href="/bower_components/roboto-fontface/css/roboto-fontface.css" />
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->

    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/animation.css" rel="stylesheet" />
    <link href="/css/destinytailor-codes.css" rel="stylesheet" />
</head>

<body data-feedly-mini="yes" cz-shortcut-listen="true">
    <div id="wrap">
        <!-- navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Destiny Tailor</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="./about" rel="author">About</a></li>
                        <li><a href="https://github.com/geekyeggo/destinytailor" rel="author"><span class="dticon dticon-github"></span> GitHub</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- container -->
        <div class="container">
            <!-- search -->
            <form ng-controller="searchController">
                <div class="row top-buffer">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <!-- platform -->
                            <span class="input-group-btn">
                                <input id="platform" type="checkbox" checked data-toggle="toggle" data-size="large"
                                    data-on="<span class='dticon dticon-psn'></span>" data-onstyle="primary"
                                    data-off="<span class='dticon dticon-xbox'></span>" data-offstyle="success"
                                    ge-bootstrap-toggle ng-model="platform" ng-disabled="isSearching" />
                            </span>

                            <!-- character name -->
                            <input type="text" class="form-control input-lg" aria-label="Search" ng-disabled="isSearching" ng-keyup="$event.keyCode == 13 && search()" ng-model="name" />

                            <!-- search -->
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="button" ng-click="search()" ng-disabled="isSearching">
                                    <span class="dticon dticon-search" ng-show="!isSearching"></span>
                                    <span class="dticon dticon-spin-split-5 spin ng-hide" ng-show="isSearching"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer ng-hide">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="alert alert-danger" role="alert">
                            <span class="sr-only">Error:</span>
                            <span>{{error}}</span>
                        </div>
                    </div>
                </div>
            </form>

            <!-- list of characters -->
            <div class="row ng-hide" ng-controller="accountController" ng-show="account">
                <div ng-repeat="(characterId, character) in account.characters">
                    <div class="character col-xs-4" ng-class="{ 'character--selected': characterId === selectedCharacter.characterId }">
                        <div class="character__emblem show" ge-background-img="http://bungie.net{{character.backgroundPath}}" ng-click="selectCharacter(character)">
                            <img class="character__emblem__icon pull-left" ng-src="http://www.bungie.net{{character.emblemPath}}" />
                            <span class="character__info pull-left">
                                <p class="lead">{{character.class}}</p>
                                <p><small>{{character.race}} {{character.gender}}</small></p>
                            </span>
                            <span class="character__info pull-right text-right">
                                <p class="lead">{{character.level}}</p>
                                <p class="character__light-level"><small><span class="glyphicon glyphicon-star"></span>{{character.lightLevel}}</small></p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- stat profiles and character information -->
            <div ng-controller="characterController">
                <div class="row">
                    <div class="col-xs-12 col-md-8" ng-show="statProfiles.length">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3" ng-repeat="statProfile in statProfiles | orderBy: '0 - discipline.tier - intellect.tier - strength.tier'">
                                <ge-stat-profile ng-model="statProfile" ng-selected="statProfile === currentStatProfile" ng-click="selectStatProfile(statProfile)"  />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4" ng-show="character.inventory">
                        <div class="row">
                            <div class="col-xs-4 col-xs-push-4 col-md-12 col-md-push-0" ge-item ng-model="character.inventory.helmet" ng-selected-stats="currentStatProfile.inventory.helmet"></div>
                            <div class="col-xs-4 col-xs-push-4 col-md-12 col-md-push-0" ge-item ng-model="character.inventory.gauntlets" ng-selected-stats="currentStatProfile.inventory.gauntlets"></div>
                            <div class="col-xs-4 col-xs-push-4 col-md-12 col-md-push-0 clear-both" ge-item ng-model="character.inventory.chest" ng-selected-stats="currentStatProfile.inventory.chest"></div>
                            <div class="col-xs-4 col-xs-push-4 col-md-12 col-md-push-0" ge-item ng-model="character.inventory.legs" ng-selected-stats="currentStatProfile.inventory.legs"></div>
                            <div class="col-xs-4 col-xs-push-4 col-md-12 col-md-push-0 clear-both" ge-item ng-model="character.inventory.classItem" ng-selected-stats="currentStatProfile.inventory.classItem"></div>
                            <div class="col-xs-4 col-xs-push-4 col-md-12 col-md-push-0" ge-item ng-model="character.inventory.artifact" ng-selected-stats="currentStatProfile.inventory.artifact"></div>
                            <div class="col-xs-4 col-xs-pull-8 col-md-12 col-md-pull-0" ge-item ng-model="character.inventory.ghost" ng-selected-stats="currentStatProfile.inventory.ghost"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="container">
            <p>Made with <span class="dticon dticon-github"></span> by @GeekyEggo, on <a href="https://github.com/geekyeggo/destinytailor" title="View Destiny Tailor's source code on GitHub, come fork around!" rel="author">GitHub</a>.</p>
            <p>Special thanks to <a href="https://www.bungie.net/" title="Visit Bungie.net" rel="nofollow">Bungie</a>, and their API.</p>
        </div>
    </footer>

    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="/client/js/main.js"></script>
    <script src="/client/js/models/character.js"></script>
    <script src="/client/js/models/stat.js"></script>
    <script src="/client/js/models/statProfile.js"></script>
    <script src="/client/js/services/inventoryAnalyser.js"></script>
    <script src="/client/js/services/userService.js"></script>
    <script src="/client/js/controllers/accountController.js"></script>
    <script src="/client/js/controllers/characterController.js"></script>
    <script src="/client/js/controllers/searchController.js"></script>
    <script src="/client/js/directives/backgroundImage.js"></script>
    <script src="/client/js/directives/bootstrapToggle.js"></script>
    <script src="/client/js/directives/item.js"></script>
    <script src="/client/js/directives/statProfile.js"></script>
    <!-- endinject -->
</body>

</html>