<!DOCTYPE html>
<html lang="en" ng-app="main">

<head>
    <!-- content -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- information -->
    <title>Destiny Tailor</title>
    <meta name="description" content="Easily discover how to get the most from your armour, and still look dapper.">
    <meta name="author" content="Richard Herman">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <style>
        /* This helps the ng-show/ng-hide animations start at the right place. */
        /* Since Angular has this but needs to load, this gives us the class early. */
        .ng-hide { display: none!important; }
    </style>

    <!-- build:css css/lib.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" />
    <link rel="stylesheet" href="/bower_components/roboto-fontface/css/roboto-fontface.css" />
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/combined.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/client/css/animation.css">
    <link rel="stylesheet" href="/client/css/destinytailor-codes.css">
    <link rel="stylesheet" href="/client/css/main.css">
    <link rel="stylesheet" href="/client/css/main-xs.css">
    <!-- endinject -->
    <!-- endbuild -->
</head>

<body data-feedly-mini="yes" cz-shortcut-listen="true">
    <div id="wrap">
        <!-- navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Destiny Tailor</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://github.com/geekyeggo/destinytailor" title="View DestinyTailor on GitHub"><span class="dticon dticon-github"></span> GitHub</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- container -->
        <div class="container">
            <!-- search -->
            <form ng-controller="searchController">
                <div class="row top-buffer">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="input-group">
                            <!-- platform -->
                            <span class="input-group-btn">
                                <input id="platform" type="checkbox" checked data-toggle="toggle" data-size="large"
                                    data-on="<span class='dticon dticon-psn'></span>"
                                    data-onstyle="primary"
                                    data-off="<span class='dticon dticon-xbox'></span>"
                                    data-offstyle="success"
                                    ge-bootstrap-toggle ng-model="platform" ng-disabled="isSearching" />
                            </span>

                            <!-- character name -->
                            <input type="text" class="form-control input-lg" aria-label="Search"
                                ge-blur-on="isSearching"
                                ng-disabled="isSearching"
                                ng-keyup="$event.keyCode == 13 && search()"
                                ng-model="name"
                            />

                            <!-- search -->
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-lg" type="button" ng-click="search()" ng-disabled="isSearching">
                                    <span class="dticon dticon-search" ng-show="!isSearching"></span>
                                    <span class="dticon dticon-spin-split-5 spin ng-hide" ng-show="isSearching"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row top-buffer ng-hide" ng-show="error">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            <span>{{error}}</span>
                            <button type="button" class="close" ng-click="clearError()"><span aria-hidden="true">&times;</span></button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- list of characters -->
            <div ng-controller="accountController" class="ng-hide" ng-show="account">
                <div class="row top-buffer" ng-class="{ 'account__character--any-selected': selectedCharacter !== null }">
                    <div ng-repeat="character in account.characters track by character.characterId">
                        <div class="account__character col-xs-12 col-sm-4" ng-class="{ 'account__character--selected': character === selectedCharacter }">
                            <div class="emblem show" ge-background-img="http://bungie.net{{::character.backgroundPath}}" ng-click="selectCharacter(character)">
                                <img class="emblem__icon pull-left" ng-src="http://www.bungie.net{{::character.emblemPath}}" />
                                <span class="emblem__info pull-left">
                                    <p class="lead">{{::character.class}}</p>
                                    <p><small>{{::character.race}} {{::character.gender}}</small></p>
                                </span>
                                <span class="emblem__info pull-right text-right">
                                    <p class="lead">{{::character.level}}</p>
                                    <p class="emblem__light-level"><small class="light-level">{{::character.lightLevel}}</small></p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- stat profiles and character information -->
            <div ng-controller="characterController" class="character__wrapper top-buffer">
                <div ng-repeat="character in [character] track by character.characterId" class="character--animated">
                    <div class="row ng-hide" ng-show="character !== null && (!character.statProfiles || !character.inventory)">
                        <div class="col-xs-12 text-center lead character__loading">
                            <span class="dticon dticon-spin-split-5 spin"></span>Fetching character...
                        </div>
                    </div>
                    <div class="row character--animated" ng-if="character.statProfiles && character.inventory">
                        <div class="col-xs-12 col-md-8">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3" ng-repeat="statProfile in character.statProfiles | orderBy: '0 - discipline.tier - intellect.tier - strength.tier' track by statProfile.statProfileId">
                                    <div ge-stat-profile
                                        ng-model="statProfile"
                                        ng-character="character"
                                        ng-select="selectStatProfile"
                                        ng-selected="statProfile === currentStatProfile">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden-xs">
                            <div ge-inventory ng-inventory="character.inventory" ng-stat-profile="currentStatProfile"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="container">
            <p>Made with <span class="dticon dticon-github"></span> by <a href="https://github.com/geekyeggo" title="View GeekyEggo's GitHub profile" rel="author">@GeekyEggo</a>.</p>
            <p>Special thanks to <a href="https://www.bungie.net/" title="Visit Bungie.net" rel="nofollow">Bungie</a>, and their API.</p>
        </div>
    </footer>

    <!-- build:js js/lib.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/app.js -->
    <!-- inject:js -->
    <script src="/client/js/main.js"></script>
    <script src="/client/js/constants.js"></script>
    <script src="/client/js/character/character.model.js"></script>
    <script src="/client/js/character/stat.model.js"></script>
    <script src="/client/js/character/statProfile.model.js"></script>
    <script src="/client/js/inventory/inventoryAnalysis.model.js"></script>
    <script src="/client/js/inventory/inventory.service.js"></script>
    <script src="/client/js/user/user.service.js"></script>
    <script src="/client/js/character/character.controller.js"></script>
    <script src="/client/js/character/statProfile.directive.js"></script>
    <script src="/client/js/directives/backgroundImage.js"></script>
    <script src="/client/js/directives/blurOn.js"></script>
    <script src="/client/js/directives/bootstrapToggle.js"></script>
    <script src="/client/js/inventory/inventory.directive.js"></script>
    <script src="/client/js/inventory/item.directive.js"></script>
    <script src="/client/js/inventory/itemStat.directive.js"></script>
    <script src="/client/js/user/account.controller.js"></script>
    <script src="/client/js/user/search.controller.js"></script>
    <!-- endinject -->
    <!-- inject:templates:js -->
    <!-- endinject -->
    <!-- inject:analytics:js -->
    <!-- endinject -->
    <!-- endbuild -->
</body>

</html>