
.dticon-bungie:before { content: '\e800'; } /* '' */
.dticon-discipline:before { content: '\e801'; } /* '' */
.dticon-github:before { content: '\e802'; } /* '' */
.dticon-github-circuled:before { content: '\e803'; } /* '' */
.dticon-github-git:before { content: '\e804'; } /* '' */
.dticon-intellect:before { content: '\e805'; } /* '' */
.dticon-search:before { content: '\e806'; } /* '' */
.dticon-spin-split-5:before { content: '\e807'; } /* '' */
.dticon-sync:before { content: '\e808'; } /* '' */
.dticon-spin-trail-2:before { content: '\e809'; } /* '' */
.dticon-twitch:before { content: '\e80a'; } /* '' */
.dticon-spin-line:before { content: '\e80b'; } /* '' */
.dticon-stack:before { content: '\e80d'; } /* '' */
.dticon-strength:before { content: '\e80e'; } /* '' */