/* declarations */
@font-face {
    font-family: 'destinytailor';
    src: url('../fonts/destinytailor.eot?79049591');
    src: url('../fonts/destinytailor.eot?79049591#iefix') format('embedded-opentype'),
             url('../fonts/destinytailor.woff?79049591') format('woff'),
             url('../fonts/destinytailor.ttf?79049591') format('truetype'),
             url('../fonts/destinytailor.svg?79049591#destinytailor') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* vendor */
.ng-hide {
    display: none !important;
}

/* main */
html,
body {
    height: 100%;
}
body {
    padding-top: 50px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
.dticon:before {
    display: inline-block;
    font-family: "destinytailor";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    width: 1.3em;
}
.dticon.animate-spin {
    margin-left: .2em;
    margin-right: .2em;
}
.dticon-github {
    font-size: 1.25em;
}

/* footer */
footer {
    background-color: #f5f5f5;
    height: 60px;
    padding-top: 10px;
}
footer p {
    color: #777;
    font-size: .9em;
    margin: 0;
    text-align: center;
}

/* miscellaneous */
.top-buffer {
    margin-top: 20px;
}

/* main */
.character {
    background-size: cover;
    border-radius: 3px;
    color: #f5f5f5;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    padding: 2px;
}
.character:active .character-info,
.character:hover .character-info,
.character:visited .character-info {
    color: #f5f5f5;
}
.character-info {
    margin: 2% 7px;
}
.character-info p {
    line-height: 1em;
    margin-bottom: 0.2em;
}
.character-light-level {
    color: #f5dc56;
}
.character-light-level .glyphicon {
    font-size: 0.5em;
    top: -1px;
    margin-right: 2px;
}
.stat-profile .dticon {
    font-size: 21px;
}
.stat-progress {
    padding: 2%;
}
.stat-progress .step {
    background-color: #ddd;
    float: left;
    height: 4px;
    margin: 0 1%;
    width: 18%;
}
.stat-progress .step.full {
    background-color: #333;
}
.stat-progress .partial {
    background-color: #aaa;
    height: 100%;
}