/* declarations */
@font-face {
    font-family: 'destinytailor';
    src: url('../fonts/destinytailor.eot?79049591');
    src: url('../fonts/destinytailor.eot?79049591#iefix') format('embedded-opentype'),
             url('../fonts/destinytailor.woff?79049591') format('woff'),
             url('../fonts/destinytailor.ttf?79049591') format('truetype'),
             url('../fonts/destinytailor.svg?79049591#destinytailor') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* vendor */
.ng-hide {
    display: none !important;
}

/* main */
html,
body {
    height: 100%;
}
body {
    padding-top: 50px;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding-bottom: 60px;
}
.dticon:before {
    display: inline-block;
    font-family: "destinytailor";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    speak: none;
    text-decoration: inherit;
    text-align: center;
    text-transform: none;
    width: 1.3em;
}
.dticon.animate-spin {
    margin-left: .2em;
    margin-right: .2em;
}
.dticon-github {
    font-size: 1.25em;
}

/* footer */
footer {
    background-color: #f5f5f5;
    height: 60px;
    padding-top: 10px;
}
footer p {
    color: #777;
    font-size: .9em;
    margin: 0;
    text-align: center;
}

/* generic */
.top-buffer {
    margin-top: 20px;
}

/* character */
.character {
    border-width: 1px;
    border-color: #fff #fff #ddd #fff;
    border-style: solid;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.character--selected {
    border-color: #ddd #ddd #fff #ddd;
    border-radius: 5px 5px 0 0;
}
.character__emblem {
    background-size: cover;
    border-radius: 3px;
    color: #f5f5f5;
    font-family: Roboto, sans-serif;
    overflow: hidden;
    padding: 2px;
}
.character__emblem:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.character__emblem:active .character__info,
.character__emblem:hover .character__info,
.character__emblem:visited .character__info {
    color: #f5f5f5;
}
.character__emblem__icon {
    height: 59px;
    width: 59px;
}
@media (max-width: 769px) {
    .character {
        padding-left: 5px;
        padding-right: 5px;
    }
    .character__emblem__icon {
        height: 42px;
        width: 42px;
    }
}
.character__info {
    margin: 2% 7px;
}
.character__info p {
    line-height: 1em;
    margin-bottom: 0.2em;
}
.character__light-level {
    color: #f5dc56;
}
.character__light-level .glyphicon {
    font-size: 0.5em;
    top: -1px;
    margin-right: 2px;
}

/* stat profile */
.stat-profile:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.stat__icon {
    font-size: 21px;
}
.stat__progress {
    padding: 2%;
}
.stat_progress__step {
    background-color: #ddd;
    float: left;
    height: 4px;
    margin: 0 1%;
    width: 18%;
}
.stat_progress__step--full {
    background-color: #333;
}
.stat_progress__step--partial {
    background-color: #aaa;
    height: 100%;
}

/* character item */
.item {
    margin-bottom: 15px;
}
.item__name {
    color: #777;
}
.item__icon {
    border-radius: 2px;
    height: 64px;
    width: 64px;
}
.item__stat__icon {
    font-size: 16px;
    margin-left: 2px;
    margin-right: 5px;
}
.item__stat__value {
    text-transform: capitalize;
}
.item__stat--maxed {
    font-weight: bold;
}
.item__stat--maxed .item__stat__max {
    display: none;
}