<div class="item" ng-class="getTierTypeCssClass(data.tierType)">
    <div class="item__header media" ng-class="data.primaryStatName">
        <h3 class="media-heading item__name">{{data.name}}</h3>
        <div class="media-left item__icon-wrapper">
            <!-- icon -->
            <img class="item__icon" alt="{{::data.name}}" ng-src="http://www.bungie.net/{{data.icon}}" />
        </div>
        <div class="media-body item__body">
            <div class="pull-right item__primary-stat hidden-xs">
                <!-- primary stat, e.g. defense / attack -->
                <span class="item__primary-stat__value">{{::data.primaryStat}}</span>
                <span class="item__primary-stat__type">{{::data.primaryStatName}}</span>
            </div>
            <span>
                <span ge-item-stat ng-model="data.intellect" value="selectedStats.intellect" name="intellect" abbreviation="int"></span>
                <span ge-item-stat ng-model="data.discipline" value="selectedStats.discipline" name="discipline" abbreviation="disc"></span>
                <span ge-item-stat ng-model="data.strength" value="selectedStats.strength" name="strength" abbreviation="str"></span>
            </span>
        </div>
    </div>
</div>