<div class="inventory col-xs-12 col-md-4">
    <div class="row">
        <div class="col-xs-6 col-xs-push-6 col-md-12 col-md-push-0">
            <div ge-item ng-model="inventory.helmet" ng-selected-stats="statProfile.inventory.helmet"></div>
            <div ge-item ng-model="inventory.gauntlets" ng-selected-stats="statProfile.inventory.gauntlets"></div>
            <div ge-item ng-model="inventory.chest" ng-selected-stats="statProfile.inventory.chest"></div>
            <div ge-item ng-model="inventory.legs" ng-selected-stats="statProfile.inventory.legs"></div>
        </div>
        <div class="col-xs-6 col-xs-pull-6 col-md-12 col-md-pull-0">
            <div ge-item ng-model="inventory.classItem" ng-selected-stats="statProfile.inventory.classItem"></div>
            <div ge-item ng-model="inventory.artifact" ng-selected-stats="statProfile.inventory.artifact"></div>
            <div ge-item ng-model="inventory.ghost" ng-selected-stats="statProfile.inventory.ghost"></div>
        </div>
    </div>
</div>