<form ng-controller="searchController">
    <div class="row top-buffer">
        <div class="col-md-8 col-md-offset-2">
            <p>
                <div class="input-group">
                    <!-- platform -->
                    <span class="input-group-btn">
                        <input id="platform" type="checkbox" checked data-toggle="toggle" data-size="large"
                            data-on="<span class='dticon dticon-psn'></span>" data-onstyle="primary"
                            data-off="<span class='dticon dticon-xbox'></span>" data-offstyle="success"
                            ge-bootstrap-toggle ng-model="platform" ng-disabled="isLoading" />
                    </span>

                    <!-- character name -->
                    <input type="text" class="form-control input-lg" aria-label="Search" ng-disabled="isLoading" ng-keyup="$event.keyCode == 13 && search()" ng-model="name" />

                    <!-- search -->
                    <span class="input-group-btn" ng-class="{'loading': isLoading}">
                        <button class="btn btn-default btn-lg" type="button" ng-click="search()" ng-disabled="isLoading">
                            <span class="dticon dticon-search"></span>
                        </button>
                    </span>
                </div>
            </p>
            <p class="text-center ng-hide" ng-show="isLoading">
                <span class="dticon dticon-spin-split-5 spin"></span> Loading character...
            </p>
        </div>
    </div>
    <div class="row top-buffer ng-hide">
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" role="alert">
                <span class="sr-only">Error:</span>
                <span>{{error}}</span>
            </div>
        </div>
    </div>
</form>