<div class="stat-profile panel panel-default text-center"
    ng-class="{ 'panel-primary': selected, 'panel-success': !selected && (data.intellect.tier + data.discipline.tier + data.strength.tier) >= 10 }"
    ng-click="select()">
    <!-- heading -->
    <div class="stat-profile__heading panel-heading">
        {{data.intellect.tier}} - {{data.discipline.tier}} - {{data.strength.tier}}
    </div>

    <!-- body -->
    <div class="stat-profile__body panel-body">
        <!-- stat information -->
        <div class="row">
            <div class="col-xs-4 col-sm-12" ng-repeat="stat in STAT_NAMES">
                <!-- icon and text -->
                <span class="stat__icon dticon dticon-{{stat.name}}"></span>
                {{data[stat.name].value}}<small class="stat__type visible-xs-inline hidden">&nbsp;{{stat.name}}</small>

                <!-- progress of the stat tiers -->
                <div class="stat__progress">
                    <span ng-repeat="i in [1, 2, 3, 4, 5]">
                        <div class="stat__progress__step" ng-class="{ 'stat__progress__step--full': isTierComplete(data[stat.name], i) }">
                            <div
                                class="stat__progress__step--partial ng-hide"
                                ng-show="isTierPartiallyComplete(data[stat.name], i)"
                                ng-style="{width: getTierCompleteness(data[stat.name], i) + '%'}"></div>
                        </div>
                    <span>
                </div>
            </div>
        </div>

        <!-- inventory -->
        <div ge-inventory
            class="inventory__wrapper hidden-sm hidden-md hidden-lg text-left"
            ng-if="showInventory"
            ng-inventory="character.inventory"
            ng-stat-profile="data">
        </div>
    </div>
</div>