<div class="col-xs-4 text-center stat-profile">
    <div ng-repeat="statType in ['intellect', 'discipline', 'strength']">
        <!-- icon and text -->
        <span class="dticon dticon-{{statType}}"></span><br />
        {{data[statType].value}}
        
        <!-- progress of the stat tiers -->
        <div class="stat-progress">
            <span ng-repeat="i in [1, 2, 3, 4, 5]">
                <div class="step" ng-class="{ full: isTierComplete(data[statType], i) }">
                    <div
                        class="partial ng-hide"
                        ng-show="isTierPartiallyComplete(data[statType], i)"
                        ng-style="{width: getTierCompleteness(data[statType], i) + '%'}"></div>
                </div>
            <span>
        </div>
    </div>
</div>