<div class="col-xs-2 text-center stat-profile">
    <p>
        <span class="dticon dticon-intellect"></span><br />
        {{data.intellect.value}} ({{data.intellect.tier}})
        <ge-stat-progress ng-model="data.intellect" />
    </p>
    <p>
        <span class="dticon dticon-discipline"></span><br />
        {{data.discipline.value}} ({{data.discipline.tier}})
        <ge-stat-progress ng-model="data.discipline" />
    </p>
    <p>
        <span class="dticon dticon-strength"></span><br />
        {{data.strength.value}} ({{data.strength.tier}})
        <ge-stat-progress ng-model="data.strength" />
    </p>
</div>