@font-face {
  font-family: 'octicons';
  src: url('../../vendor/fonts/octicons.eot?#iefix') format('embedded-opentype'),
       url('../../vendor/fonts/octicons.woff') format('woff'),
       url('../../vendor/fonts/octicons.ttf') format('truetype'),
       url('../../vendor/fonts/octicons.svg#octicons') format('svg');
}
body {
    padding-top: 50px;
}
.top-buffer {
    margin-top: 20px;
}
footer p {
    color: #777;
    font-size: .9em;
    margin-bottom: 0;
    text-align: center;
}
.ng-hide {
    display: none !important;
}